/* Natural Tags */

body{
  background-color: #99ccff;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fspoonflower%2Fpublic%2Fdesign_thumbnails%2F0422%2F1023%2FGridGreenPastel_shop_preview.png&f=1&nofb=1');
}

h1, h2, h3, h4, p{
  font-family: 'Oxygen', sans-serif;
}

/* Classes */

.center{
  display: block;
  text-align: -webkit-center;
}

.box{
  width: 500px;
  position: inherit;
  border-radius: 10px;
}

.white{
  color: whitesmoke;
}

.text-input{
  color: blue;
  border: hidden;
  border-radius: 10px;
  font-family: 'Oxygen', sans-serif;
}

.zoom {
  margin: 0 auto;
  transition: transform .5s;
}

.zoom:hover {
  cursor:pointer;
  transform: scale(1.2);
}

.navbar{
  border-radius: 10px;
  background-color: #99ccff;
}

/* Ids */

#background{
  top: 0px;
  left: 0px;
  width: 2000px;
  position: relative;
}

#title{
  z-index: -1;
  position: fixed;
}

#main-box{
  background-image: url('https://thumbs.gfycat.com/BowedShadowyCoqui-small.gif');
}

#footer{
  bottom: 0px;
  position: relative;
}

#fight_opponent{
  top: 200px;
  position: relative;
  background-image: url('https://www.visitlagunabeach.com/imager/s3-us-west-1_amazonaws_com/laguna-craft/craft/tide-pools-saltwater_694f32bf0e9ef81016789076834d1a45.jpg');
}

#header{
  top: 0px;
  color: red;
  position: fixed;
}